
@font-face{
    font-family:Majel;
    src: url(fonts/Majel Bold.ttf);
}
body
{
    background-color:#fbdbe4;
}

header
{
    background-image: url(../assets/dotsHeader.png);
    position:fixed;
    z-index:10;
    width:960px;
    left:50%;
    margin-left:-480px;
    height:171px;
    border-bottom: 3px solid rgba(255,255,255,0.5);
    box-sizing:padding-box;
    }

#logo
{
    position:absolute;
    z-index:12;
    width:300px;
    margin-left:5px;
    top:7px;
}

#book
{
    position:relative;
    font-family: Lobster;
    color:white;
    text-align: center;
    float:right;
    font-size:23pt;
    margin:21px;
    text-shadow: 2px 2px 5px #EC008C;
}
#book img{
    height:200px;
}

nav
{
    position:absolute;
    z-index:2;
    top:139px;
    height:32px;
    width:80%;
    text-transform: uppercase;
    font-family: Ubuntu;
    background: linear-gradient(90deg, rgba(80,0,13,0),rgba(80,0,13,0),rgba(80,0,13,0.5),rgba(80,0,13,0.1),rgba(80,0,13,0));
}

ul
{
    position:absolute;
    left:290px;
    
}
li
{
    
    display:inline-block;
    font-family: Ubuntu;
    font-size:22px;
    margin:0px 5px 0px 5px;
    z-index:10;
 }

nav a
{
    text-decoration:none;
    color:white;
}


nav a:hover{
    text-decoration:none;
    color:white;
    text-shadow: 2px 2px 5px #EC008C;
    }


section
{
    position:relative;
    width:960px;
    height:720px;
    left:50%;
    margin-left:-480px;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#home
{
    background-image:url(../image/rose.jpg);
}
#about
{
    background-image:url(../image/blonde.jpg);
}
#contact
{
  background-image:url(../image/phone.jpg);  
}
@media screen and (max-width: 960px)
{
    header, section
    {
        width:100%;
        left:0px;
        margin:0px;
    }
    
    li
    {
        font-size:19px;
        margin:0px 2px 0px 2px;  
    }
}

@media screen and (max-width: 860px)
    {
    nav
        {
            top:171px;
            background: linear-gradient(90deg, rgba(80,0,13,0.5),rgba(80,0,13,0.5),rgba(80,0,13,0));
        }
    ul
        {
            
            left:0px;
            margin-left: -10px;
        }
    }
@media screen and (max-width: 560px)
{
    ul
    {
        top:50px;
    }
    li
    {
        display:block;
        font-size:22px;
        border-bottom: 3px solid rgba(255,255,255,0.5);
    }
    li:hover
    {
       border-bottom: 3px solid rgba(255,0,100,1); 
    }
    nav
    {
        margin:5px;
        height:50px;
        width:50px;
        overflow: hidden;
        background-image: url(../assets/figerprint.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    nav:hover
    {
        margin:0px;
        height:800px;
        width:150px;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(80,0,13,0.5),rgba(80,0,13,0.5),rgba(80,0,13,0));
        
    }
    #book {
        font-size:18px;
        position: absolute;
        margin:5px;
        top:0px;
        right:0px;
        z-index:13;
    }
    #book img{
        
        width:120px;
        height:120px;
        
    }
}
